*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.header {
	
	padding: 0.5rem 0.5rem;
	text-align: center;
	line-height: 16.5px;
	font: 16px Arial;
	font-weight: bold;
	font-stretch: condensed;
	color: #000000;
	-webkit-text-stroke: #ffcc00;
}

.container {
	padding:0 1rem 1rem 0.5rem;
	margin: 0.6rem auto;
}



/* da tablet in su */
@media (min-width:768px){
	.container {
		width: 100%; /* da modificare */
	}
}

/* da mobile in giù */
@media screen and (max-width:767px) {

	/*.html, body{
		background-color:dimgrey;
	}*/

	.header {
		padding: 0.5rem 0rem 0.5rem 0;
		font-size: 1.6rem;
		line-height: 1.8rem;

	}
	
	.container {
		width: 0% !important; /* se si mostra il container con immagini, deve essere 100% */
		display: none;
	}
	.footer{
		position: 0 !important; /* se si mostra il container con immagini, deve essere relative */
		z-index: auto;
		padding-top: 1rem;
	}

	.footer>.carousel-controls-container a {
		display: none;
		margin:0;
	
	}

	.carousel-inner>.item {
		height: 45vh !important;
	}
	.carousel-inner>.item>a>img,
	.carousel-inner>.item>img {
		
	height: auto !important;
	max-height: 45vh;
	object-fit: contain;
}

}



.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}


.carousel {
	position: relative;	
}

.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden
}

.carousel-inner>.item {
	position: relative;
	display: none;
	-webkit-transition: left;
	-o-transition: left;
	transition: left;
	
	height: 78vh;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
	position: absolute;
	top: 50%;	
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	max-height: 150vh;
	height: 100%;
	object-fit: contain;
}


@media all and (transform-3d),
(-webkit-transform-3d) {
	.carousel-inner>.item {
		-webkit-transition: -webkit-transform .0s ;
		-o-transition: -o-transform .0s ;
		transition: -webkit-transform .0s;
		transition: transform .0s;
		transition: transform .0s, -webkit-transform .0s, -o-transform .0s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000px;
		perspective: 1000px;
	}

	.carousel-inner>.item.active.right,
	.carousel-inner>.item.next {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		left: 0
	}

	.carousel-inner>.item.active.left,
	.carousel-inner>.item.prev {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		left: 0
	}

	.carousel-inner>.item.active,
	.carousel-inner>.item.next.left,
	.carousel-inner>.item.prev.right {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0
	}
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
	display: block
}

.carousel-inner>.active {
	left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
	position: absolute;
	top: 0;
	width: 100%
}

.carousel-inner>.next {
	left: 100%
}

.carousel-inner>.prev {
	left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
	left: 0
}

.carousel-inner>.active.left {
	left: -100%
}

.carousel-inner>.active.right {
	left: 100%
}

.item.active.right,
.carousel-inner>.item.next {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	left: 0
}

.carousel-inner>.item.active.left,
.carousel-inner>.item.prev {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	left: 0
}

.carousel-inner>.item.active,
.carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	left: 0
}

.carousel-controls-container{
	text-align: center;
	padding-bottom: 0;

}

.carousel-controls-container a {
	text-decoration: none;
	color:black;
	font-size: 1rem;
	font: Arial;
	font-weight: bold;
	font-stretch: condensed;
}

/* capire se riesco a fare le freccette ai lati delle img
.carousel-controls-container a:hover {
	text-decoration: none;
	color: #ffcc00;
}*/


.carousel-controls-container .container:hover {
	cursor: pointer;
}


.p1 {
	margin:  0.0px 15.0px 15px;
	text-align: center;
	line-height: 16.5px;
	font: 16px Arial;
	font-weight: bold;
	font-stretch: condensed;
	color: #000000;
	-webkit-text-stroke: #000000;
}


.p2 {
	text-align: left;
	line-height: 16.5px;
	font: 16px Arial;
	font-weight: bold;
	font-stretch: condensed;
	color: #000000;
	-webkit-text-stroke: #000000;
}

.p3 {
	position: fixed;
	right: 15;
	bottom: 0;
	text-align: right;
}


.footer {
	padding: 0 15px;
	position: fixed;
	z-index: -1;
	left:0;
	right:0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


a.one:link {
	color: #000000;
	text-decoration: none
}

a.one:visited {
	color: #000000;
	text-decoration: none
}

a.one:hover {
	color: #ffcc00;
	text-decoration: none
}